html{
    --bgcolor:#F7F7F7;
    --hgColor:#0D0D0D;
    --primary-color: #6C63FF;
    --secondary-color: #3A86FF;
    --textFont: "Nunito Sans", sans-serif;
    --titlesFont: "Libre Caslon Text", serif;
}

/* Logotipo*/
.logo-nav {
    height: 80px;
}

/* Navbar fondo */
.navbar {
    background-color:var(--hgColor) !important; /* Negro elegante */
}

/* Enlaces */
.navbar .nav-link {
    color: white !important;
    font-weight: 500;
    font-size: 12px;
}

/* Hover */
.navbar .nav-link:hover {
    color:var(--primary-color) !important; /* Morado */
}

/* Ícono del carrito */
.navbar .bi {
    font-size: 15px;
    margin-right: 5px;
}


h1, h2, h3, h4, h5{
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-family: var(--titlesFont);
}
p{
    font-family: var(--textFont);
}

.oferta{
   max-width: 200px; 
   border-radius: 10px;
}

.hero-carousel .carousel-item img {
    height: 450px;   
    object-fit: cover; 
}

.card:hover {
    transform: scale(1.05);
    transition: transform .3s ease;
}
.card img {
    height: 300px;
    object-fit: cover;
}
.formulario {
    color: var(--secondary-color);
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.mb-3 {
    max-width: 430px;
    margin: 0 auto 40px auto;
}

/* Footer */
.footer {
    background-color: var(--hgColor); /* negro elegante */
    color: white;
}

.footer-social a {
    color: white;
    font-size: 22px;
    margin: 0 10px;
}

.footer-social a:hover {
    color: var(--primary-color); /* morado */
}
