html{
    --bgcolor:#f8f9fa;
    --hgColor:#343a40;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
}




h1, h3{
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.hero-carousel .carousel-item img {
    height: 450px;   
    object-fit: cover; 
}

.card:hover {
    transform: scale(1.05);
    transition: transform .3s ease;
}
.card img {
    height: 300px;
    object-fit: cover;
}

.formulario{
    color: var(--secondary-color);
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;

}

.mb-3{
    max-width: 430px;
    margin: 0 auto 40px auto;
}