html{
    --bgcolor:#f8f9fa;
    --hgColor:#343a40;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
}

/* Navbar fondo */
.navbar {
    background-color: #0D0D0D !important; /* Negro elegante */
}

/* Enlaces */
.navbar .nav-link {
    color: white !important;
    font-weight: 500;
    font-size: 18px;
}

/* Hover */
.navbar .nav-link:hover {
    color: #6C63FF !important; /* Morado */
}

/* Ícono del carrito */
.navbar .bi {
    font-size: 20px;
    margin-right: 5px;
}


h1, h3{
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.hero-carousel .carousel-item img {
    height: 450px;   
    object-fit: cover; 
}

.card:hover {
    transform: scale(1.05);
    transition: transform .3s ease;
}
.card img {
    height: 300px;
    object-fit: cover;
}

/* Footer */
.footer {
    background-color: #0D0D0D; /* negro elegante */
    color: white;
}

.footer-social a {
    color: white;
    font-size: 22px;
    margin: 0 10px;
}

.footer-social a:hover {
    color: #6C63FF; /* morado */
}